<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">Kristin
            <span class="text-primary">Holmbeck</span>
        </h1>
        <div class="subheading mb-5">Los Angeles, CA ·    
            <a href="mailto:info@kristinholmbeck.com">info@kristinholmbeck.com</a>  ·  
            <a href="https://github.com/keholmbeck" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <p class="lead mb-5">
            My general interest is in problem solving! By marrying mathematical concepts with programming, I enjoy finding the most efficient solution to a given problem - preferably through a scripted language such as Matlab or Python. 
        </p>
        <p class="lead mb-5">
            Check out our current project at Tempest Technologies; helping researchers design their studies at <a href="https://www.mysamplesize.com" target="_blank">MySampleSize.com</a>.
        </p>
        <p class="lead">
            Extracurricular interests include dogs, hiking the local mountains, crochet, and coffee.
        </p>
    </div>
</section>