<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="resume-content">
                <h3 class="mb-0">California State University Long Beach</h3>
                <div class="subheading mb-3">Master of Science, Applied Mathematics</div>
                <div>Courses
                    <ul>
                        <li> Matrix Methods in Data Analysis </li>
                        <li> Partial Differential Equations </li>
                        <li> Rapid Distortion Theory and Turbulent Flow </li>
                    </ul>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2016 - December 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="resume-content">
                <h3 class="mb-0">Loyola Marymount University</h3>
                <div class="subheading mb-3">Bachelor of Science, Applied Mathematics</div>
                <div>Concentration in Physics. Courses:
                    <ul>
                        <li> Advanced Linear Algebra</li>
                        <li> Stochastic Game Modeling </li>
                    </ul>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">January 2010 - December 2011</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">El Camino College</h3>
                <div class="subheading mb-3">Associate of Science, Mathematics</div>
                <div>Courses
                    <ul>
                    <li> Fluids, Heat, and Sound </li>
                    <li> Electricity and Magnetism </li>
                    </ul>
                </div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2007 - December 2009</span>
            </div>
        </div>
    </div>
</section>
