
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Analyst Lead</h3>
            <div class="subheading mb-3">Tempest Technologies</div>
            <p>Currently working on end-to-end development of a statistical tools website for health researchers, funded by the National Institutes of Health.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Analyst</h3>
            <div class="subheading mb-3">Tempest Technologies</div>
            <p>
                Software testing and implementation for the following projects:
                <ul>
                    <li>Flight Tracking Optimization via Pseudospectral Optimal Control</li>
                    <li>Max-Plus Algebra for UAV Perimeter Patrol</li>
                    <li>Aimpoint Maintenance of Ground Targets by ABL via Optical Flow</li>
                </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2015 - December 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Junior Analyst</h3>
            <div class="subheading mb-3">Tempest Technologies</div>
            <p>Adaptive control in a noisy system: we used a recursive least squares filter to estimate the transfer function of a signal in order to actively reduce jitter/noise.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2012 - December 2014</span>
          </div>
        </div>
      </div>

    </section>
