<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>
            Being a Southern Californian native I like to spend my time hiking, mountain biking, and trail running. However, I have not appreciated my surroundings until recently as these are all activities I started after college. I also volunteer a few times a year for trail work on the local trails to help maintain the delicate beauty of the Angeles and San Bernardino National Forests. 
        </p>
        <p class="mb-0">
            In my down time, I like to cook - but not clean - and enjoy crochet, embroidery, and sewing. I volunteered as a patroller in the National Ski Patrol at Snow Summit in Big Bear, CA, from 2011-2018. This experience has led to a great interest in outdoor and emergency medicine that I hope to never use, but always have on hand. 
        </p>
    </div>
</section>